<<<<<<< HEAD
.temp{
    
    width:300px;
    height: 60px;
    margin:auto;
}
#raise{
    border-radius: 15px;
    background-color: rgb(45, 49, 49);
    float: right;
    color: brown;
}
#raise:hover{
    background-color: rgb(80, 79, 79);
    color: brown;
}
a{
    font-size: 45px;
}
=======
>>>>>>> parent of 305863f... fixed
