
  <div class="navbar-fixed">
  <nav class="black">
    <div class="nav-wrapper center">
      <a href="#" class="brand-logo"><i class="material-icons green-text">shopping_cart</i>CARMA STORE</a>
      <div class="temp" id="raise">
          <div class="input-field">
            <label class="label-icon" for="search">
            </label>
            <input id="search" type="search" required placeholder="Buscar">
            <i class="material-icons blue-text">search</i>
          </div>
        </div>
    </div>
  </nav>
</div>
